<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="{% url 'logout_user' %}"> Logout</a>

    <h1>List of todo</h1>
    {% for message in messages %}
        {{message}}
    {% endfor %}
    <ul>
        {% for obj in todo_list_show %}
        <li> title- {{obj.title}} <br>
            description- {{obj.description}}
            ID = {{obj.id}}
        </li>
        <br>
            <button> <a href="{% url 'delete_todo' obj.id %}">Delete </a></button>
        <br>
        <br>
        <br>
        <br>
    {% endfor %}
       
    </ul>

   
</body>
</html>