<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% for message in messages %}
        {{message}}
    {% endfor %}
    <h1>Registration Form</h1>
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <label for="">Username</label>
        <input type="text" name="username" placeholder="Enter username">
        <br>
        <label for="">Password</label>
        <input type="text" name="password" placeholder="Enter password">

        <button type="submit">Registration</button>
    </form>
</body>
</html>